.sidebar{
  position: fixed;
  left: 0;
  bottom:0;
  top:158px;
  background-color: white;
  border-right: 1px;
  border-radius: 1px;
  border-right-style: solid;
  border-color: gray;
  width: 300px;

}

.sidebar p{
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 16px;
  font-weight: 500;
}